body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bababd;
    color: #333333;
}

header {
    background: #111113;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    /* Лазурный цвет */
    color: #111113;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


#gallery {
    padding: 50px 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    /* Все слайды скрыты по умолчанию */
    text-align: center;
}

.slide img {
    width: 400px;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

#gallery2 {
    padding: 50px 20px;
    text-align: center;
}

.slideshow-container2 {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide2 {
    display: none;
    /* Все слайды скрыты по умолчанию */
    text-align: center;
}

.slide2 img {
    width: 400px;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

#contact {
    background-color: #111113;
    /* Фиолетовый цвет */
    color: white;
    padding: 50px 20px;
    text-align: center;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    padding: 16px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev2,
.next2 {
    cursor: pointer;
    position: absolute;
    top: 25%;
    padding: 16px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    user-select: none;
}

.prev2 {
    left: 0;
}

.next2 {
    right: 0;
}